### Build
node_modules
dist
coverage
.target
*.log
*.tsbuildinfo

### Tests
tests

### VCS
.git
.gitignore

### Nix
.direnv

### AtomiCloud
.kloop/

### Dev
.env
.envrc
.env.*
!.env.example
*.md
!README.md

### IDE
.idea
.vscode
*.swp
*.swo
*~
